{% extends "template.twig" %}

{% block title %}{{ page.title }} | Nano Cooperative
{% endblock %}

{% block pageclass %}conference
{% endblock %}

{% block content %}
	<div class="banner">
		<ul class="cover">
			<li><span><b>{{ page.heading }}</b></span></li>
			<li>{{ page.subheading }}</li>
		</ul>
	</div>
	<div class="section-content">
		{% for row in rows|sort((a, b) => a.order <=> b.order) %}
			<div class="row">
				{% for column in columns|filter(c => c.row_id == row.id)|sort((a, b) => a.order <=> b.order) %}
					<div class="col m-1" style="word-wrap: break-word;">
						{{ column.body|raw }}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
