{% extends "template.twig" %}

{% block title %}{{ page.title }} | Nano Cooperative
{% endblock %}

{% block content %}
	<div class="banner">
		<ul class="cover">
			<li><span><b>{{ page.heading }}</b></span></li>
			<li>{{ page.subheading }}</li>
		</ul>
	</div>
	<div class="section-content information">
		<p>Hi!</p>
	</div>
{% endblock %}
